_Store
.svn
.idea
/.bundle
#Gemfile.lock
# Ignore the default SQLite database.
/db/*.sqlite3
# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/coverage/
/public/uploads
/public/invoices*
/nbproject
doc/backup
schema.rb
db/sphinx/
log/development.sphinx.pid
config/development.sphinx.conf
public/movies/
public/assets
*.json
