<%= form_for(@disruption) do |f| %>
  <% if @disruption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disruption.errors.count, "error") %> prohibited this disruption from being saved:</h2>

      <ul>
      <% @disruption.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
