<h1>Disruptions - Angular Google Maps</h1>



<div id="map_canvas" ng-controller="mainCtrl">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
</div>

<!--<div ng-app="transport">-->
  <!--<div ng-controller="ExampleController">-->
    <!--<google-map-->
    <!--center="centerProperty"-->
    <!--zoom="zoomProperty"-->
    <!--markers="markersProperty"-->
    <!--latitude="clickedLatitudeProperty"-->
    <!--longitude="clickedLongitudeProperty"-->
    <!--mark-click="true"-->
    <!--draggable="true"-->
    <!--style="height: 450px; width: 100%">-->
    <!--</google-map>-->

  <!--</div>-->
<!--</div>-->



