<h1>Disruptions - Angular Google Maps</h1>



<div id="map_canvas" ng-controller="mainCtrl">
  {{ disruptions }}
  <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
</div>




