<nav class="navbar navbar-static-top dash-navbar-top dnl-hidden">
  <div class="container-fluid">

    <div class="navbar-header">
      <button class="dnl-btn-toggle">
        <span class="fa fa-bars"></span>
      </button>
      <a class="navbar-brand" href="#">Disruptions London <span>beta</span></a>
    </div>

    <div class="collapse navbar-collapse" id="dnt-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Index', disruptions_path %></li>
      </ul>
    </div>

  </div>

</nav>